<footer class="footer">
  <div class="footer__container">
    
    <div class="footer__col">
      <div class="footer__brand">
        <div class="footer__logo-group">
          <div class="footer__logo-placeholder">
            <img src="https://i.pinimg.com/736x/07/b6/43/07b643a885a39697959748938c06e030.jpg" alt="Logo Smart Truyện">
          </div>
          <h1 class="footer__brand-name">SMART TRUYỆN</h1>
        </div>
        <p class="footer__slogan">Chữ chạm tim, tìm bình yên nhỏ</p>
        <p class="footer__copyright">© 2024 NovelSphere Global.</p>
      </div>
    </div>

    <div class="footer__col">
      <h3 class="footer__heading">
        <i class="fa-solid fa-compass"></i> LIÊN KẾT NHANH
      </h3>
      <nav class="footer__nav">
        <a routerLink="/">Trang chủ</a>
        <a routerLink="/categories">Thể loại</a>
        <a routerLink="/search">Tìm kiếm</a>
        <a routerLink="/authors">Tác giả</a>
      </nav>
    </div>

    <div class="footer__col">
      <h3 class="footer__heading">
        <i class="fa-regular fa-file-lines"></i> THÔNG TIN CHUNG
      </h3>
      <nav class="footer__nav">
        <a routerLink="/about-us">Về Chúng Tôi</a>
        <a routerLink="/careers">Thông tin liên hệ</a>
        <a routerLink="/terms-of-service">Điều khoản Dịch vụ</a>
        <a routerLink="/press-room">Phòng Báo chí</a>
      </nav>
    </div>

    <div class="footer__col footer__col--right">
      
      <div class="footer__social">
        <a href="#" class="social-icon" matTooltip="Facebook"><mat-icon>facebook</mat-icon></a>
        <a href="#" class="social-icon" matTooltip="Zalo"><mat-icon>chat</mat-icon></a>
        <a href="#" class="social-icon" matTooltip="Instagram"><mat-icon>photo_camera</mat-icon></a>
        <a href="#" class="social-icon" matTooltip="YouTube"><mat-icon>smart_display</mat-icon></a>
      </div>

      <div class="footer__legal-vertical">
        <a routerLink="/privacy">Quyền riêng tư</a>
        <a routerLink="/terms">Điều khoản</a>
        <a routerLink="/dmca">Chính sách</a>
      </div>

    </div>

  </div>
</footer>