<mat-card class="novel-card" appearance="outlined">
  <div class="novel-content-wrapper">
    <div class="cover-section">
      @if (novel.imageNovelUrl != null) {
      <img [src]="novel.imageNovelUrl" alt="Cover" class="cover-img" />
      } @else {
      <div class="cover-placeholder"></div>
      }
    </div>

    <div class="info-section">
      <h2 class="novel-title">{{ novel.title }}</h2>

      <div class="summary-box">
        <p><i>{{ novel.description}}</i></p>
      </div>

      <div class="meta-row">
        <span *ngIf="novel.authorName != null" class="meta-item">Tác giả: <strong>{{ novel.authorName}}</strong></span>
        <span class="meta-item">Trạng thái truyện: <span [ngStyle]="{
          'background-color': novel.status == 'Public' ? 'green' :
             novel.status == 'Reject' ? 'red' : 'gray',
          'color': 'white',
          'padding': '5px',
          'border-radius': '10px'
        }">{{ novel.status }}</span></span>


      </div>
      <div class="meta-item">
        Thể loại:
        <ng-container *ngIf="novel.categories && novel.categories.length > 0; else noCat">
          <span *ngFor="let c of novel.categories" class="meta-item">
            #{{ c.name }}
          </span>
        </ng-container>
        <ng-template #noCat>
          <span style="color: red; font-size: 12px;">(Không có)</span>
        </ng-template>
      </div>
      <div class="stats-box">
        <div class="stat-tag tag-green">
          <span class="stat-number">{{ novel.countChapterPublic }}</span>
          <span class="stat-label">Chương đã đăng</span>
        </div>
        <div class="stat-tag tag-gray">
          <span class="stat-number">{{ novel.countChapterDraf }}</span>
          <span class="stat-label">Bản nháp</span>
        </div>
        <div class="stat-tag tag-red">
          <span class="stat-number">{{ novel.countChapterRemove }}</span>
          <span class="stat-label">Đã gỡ</span>
        </div>
      </div>
    </div>
  </div>

  <mat-card-actions class="action-bar">
    <div class="action-buttons">
      <button mat-flat-button [routerLink]="['/novel', novel.novelId]" class="btn-orange"><i class="bi bi-book"></i> Xem
        truyện</button>
      <button type="button" [routerLink]="['/dashboard/moderator/chapter-manager', novel.novelId]" mat-flat-button
        class="btn-indigo"><i class="bi bi-list-task"></i> Quản lý chương</button>
      <button (click)="doDelete(novel)" mat-flat-button color="warn"><i class="bi bi-trash"></i> Xóa</button>
      <button mat-stroked-button color="danger" (click)="onReject()" matTooltip="Gỡ xuống">
        <mat-icon>delete</mat-icon>
        Gỡ truyện
      </button>
    </div>

    <div class="social-metrics">
      <div class="metric"><mat-icon>visibility</mat-icon> {{ novel.viewCount }}</div>
      <div class="metric"><mat-icon>star</mat-icon> {{ novel.novelRating }}</div>
      <div class="metric"><mat-icon>chat</mat-icon> {{ novel.likeCount }}</div>
    </div>
  </mat-card-actions>
</mat-card>


<app-confim-delete-repype *ngIf="showConfirmDelete" [content]="confirmContent" [contentValidate]="confirmValidate"
  (isValidate)="handleConfirmDelete($event)">
</app-confim-delete-repype>