<div class="account">
    <h1 class="title">TÀI KHOẢN NGƯỜI DÙNG</h1>
    <div class="profile-wrapper">

        <div class="sidebar">
            <div class="profile-card">
                <div class="avatar-wrap d-inline-flex justify-content-center align-items-center">
                    @if (userData?.avartarUrl) {
                    <img [src]="userData?.avartarUrl" alt="Avatar">
                    } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                        class="bi bi-person" viewBox="0 0 16 16">
                        <path
                            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                    </svg>
                    }
                </div>
                <h2 class="username">{{userData?.username}}</h2>
                <p class="role">{{userData?.roleId}}</p>
            </div>

            <div class="btn-group-custom">
                <button class="btn-custom" routerLink="update-info"><i class="fas fa-edit"></i> Sửa thông tin</button>
                <button class="btn-custom" routerLink="change-password"><i class="fas fa-unlock-alt"></i> Đổi mật
                    khẩu</button>
                <button class="btn-custom"><i class="fas fa-envelope"></i> Đổi Email</button>
            </div>
        </div>

        <div class="content">
            <h2 class="user-inf-title">Thông tin người dùng</h2>
            <div class="table-wrapper">
                <table class="table table-hover mb-0">
                    <tbody>
                        <tr>
                            <td class="col-label">UID</td>
                            <td class="text-secondary">{{userData?.uid}}</td>
                        </tr>
                        <tr>
                            <td class="col-label">Tên hiển thị</td>
                            <td class="text-secondary">{{userData?.displayName}}</td>
                        </tr>
                        <tr>
                            <td class="col-label">Email</td>
                            <td class="text-secondary">{{userData?.email}}</td>
                        </tr>
                        <tr>
                            <td class="col-label">Ngày sinh</td>
                            <td class="text-secondary">{{userData?.birthday ?? "Chưa cập nhật"}}</td>
                        </tr>
                        <tr>
                            <td class="col-label">Di động</td>
                            <td class="text-secondary">{{userData?.phone}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<router-outlet></router-outlet>