<div class="page-control-container">
  <button mat-mini-fab class="control-btn" matTooltip="Lên đầu trang" matTooltipPosition="right" (click)="scrollToTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
  
  <button mat-mini-fab class="control-btn home-btn" matTooltip="Về trang chủ" matTooltipPosition="right" (click)="goHome()">
    <mat-icon>home</mat-icon>
  </button>
  
  <button mat-mini-fab class="control-btn" matTooltip="Xuống cuối trang" matTooltipPosition="right" (click)="scrollToBottom()">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
</div>
