<div class="dashboard-container">
  <h1 class="welcome-title">CHÀO MỪNG {{ authorName | uppercase }}</h1>

  <div class="dashboard-grid">
    <!-- Top row: Thống kê đóng góp -->
    <div class="dashboard-section top-section">
      <app-author-stats-novel></app-author-stats-novel>
    </div>

    <div class="bottom-row">
      <!-- Bottom Left: Truy cập nhanh -->
      <div class="dashboard-section left-section">
        <app-author-stats-profile></app-author-stats-profile>
      </div>

      <div class="dashboard-section right-section">
        <app-author-newest-comment></app-author-newest-comment>
      </div>
    </div>
  </div>
</div>