<div class="sidebar-section">
  <div class="section-header">
    <h3><mat-icon class="header-icon">{{ icon }}</mat-icon> {{ title }}</h3>
  </div>
  <ul class="sidebar-list">
    
    <!-- Bảng xếp hạng tác giả -->
    <ng-container *ngIf="type === 'author'">
      <li *ngFor="let author of items; let i = index" class="author-item">
        <span class="rank-number" [ngClass]="'rank-' + (i + 1)">{{ i + 1 }}</span>
        <div class="item-info">
          <span class="author-name">{{ author.displayName }}</span>
          <span class="author-points">{{ author.creatorPoint | number }} điểm</span>
        </div>
      </li>
    </ng-container>

    <!-- Truyện vừa cập nhật -->
    <ng-container *ngIf="type === 'novel-update'">
      <li *ngFor="let novel of items" class="novel-item" [routerLink]="['/novel', novel.novelId]">
        <div class="item-info">
          <h4 class="novel-title" [title]="novel.title">{{ novel.title }}</h4>
          <span class="novel-meta">{{ novel.authorName }}</span>
        </div>
      </li>
    </ng-container>

    <!-- Biên tập viên đề cử -->
    <ng-container *ngIf="type === 'novel-recommend'">
      <li *ngFor="let novel of items" class="novel-item" [routerLink]="['/novel', novel.novelId]">
        <div class="item-info">
          <h4 class="novel-title" [title]="novel.title">{{ novel.title }}</h4>
          <span class="novel-meta"><i class="fa-solid fa-eye"></i> Lượt xem: {{ novel.viewCount | number }}</span>
        </div>
      </li>
    </ng-container>

  </ul>
</div>