<div class="homepage-container">
  <app-hero-banner [heroNovel]="heroNovel" *ngIf="heroNovel"></app-hero-banner>
  <div class="wrapper dashboard-layout">
    
    <main class="main-content">
      <section class="feed-section">
        <app-slider-novel 
          title=" TRUYỆN HOT " 
          [novels]="NovelHot">
        </app-slider-novel>
      </section>

      <section class="feed-section">
        <app-slider-novel 
          title=" CÓ THỂ BẠN SẼ THÍCH" 
          [novels]="NovelRecomend">
        </app-slider-novel>
      </section>

      <section class="feed-section">
        <app-slider-novel 
          title=" TRUYỆN VỪA CẬP NHẬT " 
          [novels]="NovelUpdate">
        </app-slider-novel>
      </section>

      <section class="feed-section">
        <app-slider-novel 
          title=" TRUYỆN ĐÃ THEO DÕI " 
          [novels]="NovelFollowing">
        </app-slider-novel>
      </section>
    </main>

    <aside class="right-sidebar">
      <app-sidebar></app-sidebar>
    </aside>

  </div>
  
</div>
